---
layout: layouts/home.njk
---
<h1>Why learn one language, when you can learn multiple languages at once and confuse yourself</h1>

{% set chapterlist = collections.chapters %}
{% include "chapterlist.njk" %}

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
