<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav>
        <h1 class="home">
          <a href="{{ '/' | url }}">{{ metadata.title }}</a>
        </h1>
      </nav>
    </header>

    <main>
      {{ content | safe }}
    </main>

    <footer>Made by Not A Developer</footer>

  </body>
</html>